//hero_nav start
#hero_nav{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.container_icons{
    display: flex;
    justify-content: start;
    gap: 15px;
    max-width: 30%;
    i{
        color: #6c757d; 
       
       
       font-size: 10px;
       
    }
    
}
.container_info{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    max-width: 70%;
    a{
        font-size: 10px;
        color: #6c757d;
    }
}

//hero_nav responsive start
@media only screen and (max-width: 500px) {
   .container_nav{
    width: 95%;
   }
  }

//hero_nav respoinsive end
//hero_nav end